@import "variables.module.scss";

.text {
  margin-right: 10px;
}
.recording {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
.attachment {
  padding-left: 5px;
  color: $gray;
  transform: rotate(30deg);
  display: inline-block;
}
